/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #00e;
    text-decoration: none;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */












@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â€¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}

.main {
  padding-bottom: 60px;
}
/* share to friend */

.friend .head {
  background: transparent url('../img/sharebgone@2x.jpg') no-repeat 0 0;
  background-size: cover;
  position: relative;
  padding-top: 111px;
  min-height: 556px; /* 667 - 111 */
}

.friend .logo {
  background: transparent url('../img/sharelogoone@2x.png') no-repeat 0 0;
  background-size: 110px 110px;
  display: block;
  width: 110px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
}
.friend .title {
  font-size: 28px;
  font-weight: bold;
  display: block;
  text-align: center;
  line-height: 1;
  margin-top: 30px;
  color: #fff;
}

.friend .download {
  width: 185px;
  height: 37px;
  border-radius: 4px;
  display: block;
  margin: 114px auto 0 auto;
  text-align: center;
  background-color: #fff;
  font-size: 18px;
  color: #fb4747;
  line-height: 36px;
  padding: 8px 0 8px;
}

.friend .download .icon {
  background: transparent url('../img/shareappleicon@2x.png') no-repeat 0 0;
  background-size: 30px 34px;
  display: inline-block;
  width: 30px;
  height: 34px;
  vertical-align: bottom;
  margin-right: 10px;
}

.friend .content {
  background: transparent url('../img/sharebgtwo@2x.jpg') no-repeat 50% 0;
  background-size: 375px 2299px;
  height: 2299px;
}
/*
.friend .content .logo {
  background: transparent url('../img/sharelogoone@2x.png') no-repeat 0 0;
  background-size: 67px 67px; 
  width: 67px;
  height: 67px;
  margin: 31px 0 0 38px;
}

.friend .content .subtitle {
  font-size: 21px;
  font-weight: bold;
  color: #df282c;
}*/

.friend .content {
  position: relative;
}

.friend .foot {
  position: absolute;
  width: 100%;
  bottom: 45px;
  text-align: center;
}

.friend .foot .download {
  display: inline-block;
}

/* Show Page */
.show h1 {
  font-size: 17px;
  padding: 20px 15px 0;
  line-height: 1;
  margin: 0;
}

.show .info {
  font-size: 11px;
  color: #666;
  line-height: 1;
  margin: 10px 15px;
}

.show .section {
  font-size: 12px;
  color: #666;
  height: 30px;
  text-indent: 15px;
  line-height: 30px;
  background: #f0f0f0;
}

.highlight {
  font-size: 17px;
  color: #fb4747;
}

.list-table {
  font-size: 13px;
  margin: 9px;
}

.list-table th, .list-table td {
  padding: 6px;
  font-weight: normal;
}

.list-table th {
  white-space: nowrap;
}

p {
  font-size: 15px;
  margin: 12px 15px;
}

.publisher {
  display: flex;
  font-size: 12px;
  color: #666;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.publisher .avatar {
  width: 32px;
  height: 32px;
  border-radius: 2px;
  display: flex;
}

.publisher .name {
  display: flex;
  flex: auto;
}

.publisher .num {
  display: flex; 
}

.devider {
  background: #f0f0f0;
  height: 5px;
  width: 100%;
}

.friends_view {
  font-size: 15px;
  color: #666;
  padding:0 15px;
}

.friends_view h2 {
  color: #000;
  margin: 0;
  height: 45px;
  line-height: 45px;
  border-bottom: solid 1px #d2d2d2;
  font-weight: normal;
  font-size: 15px;
}

.friends_view h2 .info {
  float: right;
  color: #fb4747;
  margin: 16px 0 0 0;
  font-size: 15px;
}

.friends_view .item {
  padding: 8px 0;
  line-height: 1;
}

.friends_view .item .num {
  float: right;
}

.space {
  font-size: 13px;
}

.space .swipe-container, .space .swiper-wrapper {
  height: 211px;
  position: relative;
  overflow: hidden;
}

.space .swipe-container img {
  width: 100%;
  display: block;
  height: 211px;
  overflow: hidden;
}

.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  background: transparent;
}

// .space .swiper-slide img {
//   height: 375px;
//   display: block;
//   width: 100%;
// }

.space .name-card {
  display: flex;
  align-items: center;
  padding: 31px 0;
}

.space .sex-female {
  width: 12px;
  height: 12px;
  background: transparent url('../img/icon/women@2x.png') no-repeat 0 0;
  background-size: 12px 12px;
  margin:0 9px;
}

.space .sex-male {
  width: 12px;
  height: 12px;
  background: transparent url('../img/icon/men@2x.png') no-repeat 0 0;
  background-size: 12px 12px;
}

.space .star {
  width: 50px;
  height: 16px;
  background: transparent url('../img/icon/superstar@2x.png') no-repeat 0 0;
  background-size: 50px 16px;
  margin:0 9px;
}

.space .section {
  padding: 0 15px;
}

.space .section.bordered {
  border-bottom: solid 1px #d2d2d2;
}

.space .name-card .name {
  font-size: 17px;
}

.space .name-card .location {
  font-size: 12px;
  color: #666;
}

.space .name-card .info {
  flex: auto;
  text-align: right;
  font-size: 12px;
  color: #666;
}

.space .category {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.space .category .title {
  color: #999;
  margin-right: 5px;
}

.space .category .content{
  flex: auto;
}

.space .cate {
  display: inline-block;
  width: 65px;
  height: 21px;
  border-radius: 2px;
  line-height: 21px;
  font-size: 11px;
  margin: 6px;
  text-align: center;
}

.space .cate-list {
  padding: 4px;
}

.space .main-cate .cate {
  color: #c51954;
  background: #fdc6d9;
}

.space .second-cate .cate {
  color: #037774;
  background: #b4ebea;
}

.space .fee {
  color: #999;
  font-size: 13px;
  padding:13px 0;
}

.space .fee .highlight {
  display: inline;
  margin-left: 15px;
}

.space .section-title {
  display: flex;
  height: 30px;
  font-size: 12px;
  color: #666; 
  line-height: 30px;
  background: #f0f0f0;
  align-items: center;
}

.space .section-title .title {
  flex: auto;
}

.space .section-title .icon {
  width: 20px;
  height: 20px;
}

.space .section-title .more {
  width: 14px;
  height: 14px;
  background: transparent url('../img/icon/spacearrow@2x.png') no-repeat 0 0;
  background-size: 14px 14px;
  margin-left: 10px;
}

.space .section-title .icon.spacevip {
  background: transparent url('../img/icon/spacevip@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .section-title .icon.spaceexperience {
  background: transparent url('../img/icon/spaceexperience@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .section-title .icon.spacevideo {
  background: transparent url('../img/icon/spacevideo@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .section-title .icon.spaceresume {
  background: transparent url('../img/icon/spaceresume@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .section-title .icon.spacedetail {
  background: transparent url('../img/icon/spacedetail@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .section-title .icon.spaceprogram {
  background: transparent url('../img/icon/spaceprogram@2x.png') no-repeat 0 0;
  background-size: 20px 20px;
  margin-right: 10px;
}

.space .program {
  font-size: 14px;
  line-height: 31px;
  display: inline-block;
  margin:0 6px 6px 0;
  color: #666;
  border: solid 1px #d2d2d2;
  border-radius: 15px;
  height: 30px;
  padding: 0 15px;
}

.space .member-info {
  display: flex;
  font-size: 12px;
  padding: 12px 0;
}

.space .member-info .item {
  flex: auto;

}

.space .member-info .highlight, .space .member-info .text {
  text-align: center;
  display: block;
}

.space .video-list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: space-around;
}

.space .video-list a, .space .video-list img {
  display: block;
  width: 148px;
  height: 95px;
  margin: 5px 15px;
}

.space .video-list img {
  margin: 0;
}

.space .list-table th {
  font-size: 15px;
  color: #999;
}

.space .list-table td {
  font-size: 15px;
}
  
/* footer */
a.footer, a.footer:hover, a.footer:active {
  color: #000;
}

.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  background: #f8f8f8;
}

.footer .logo {
  width: 32px;
  height: 32px;
  background: transparent url('../img/sharelogoone@2x.png') no-repeat 0 0;
  background-size: 32px 32px;
  margin-left: 15px;
}

.footer .slogen {
  font-size: 14px;
  flex: auto;
  margin-left: 10px;
}

.footer .download-link {
  width: 65px;
  height: 30px;
  background: #fb4747;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-size: 13px;
  border-radius: 4px;
  margin-right: 15px;
}

.footer .site {
  margin-left: 10px;
  flex: auto;
}

.footer .site .name {
  font-size: 18px;
}

.footer .site .extra {
  font-size: 15px;
}

.global-hint-modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
}

.global-hint-modal .arrow {
  width: 258px;
  height: 148px;
  position: absolute;
  top: 6px;
  right: 18px;
}


















