doctype
html(lang="en")
  head
    title 分享
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1,user-scalable=no")
    meta(charset="utf-8")

    link(rel="stylesheet", href="css/normalize.css", type="text/css")
    link(rel="stylesheet", href="css/main.css", type="text/css")

  body.app.nocallout
    .main.friend
        .head
            .logo
            .title 演艺工作神器
            a.download(href="")
                .icon
                | iPhone 下载
        .content
            .foot
                a.download(href="")
                    .icon
                    | iPhone 下载

    