doctype
html(lang="en")
  head
    title 演出通告
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1,user-scalable=no")
    meta(charset="utf-8")

    link(rel="stylesheet", href="css/normalize.css", type="text/css")
    link(rel="stylesheet", href="css/main.css", type="text/css")

  body.app.nocallout
    .main.show
        h1 北京征募电商模特 6 人
        .info 截止应征: 05月30日 23:15

        .section 演出日期及演出费用

        table.list-table
            tr
                th 演出日期
                td 05月25日，05月25日，05月25日，05月25日，共 4 天
            tr
                th 演出费用
                td 
                    .highlight 800元 / 人

        .section 补允内容
        p 5套服务，必须化妆，形象气质佳5套服务，必须化妆，形象气质佳5套服务，必须化妆，形象气质佳5套服务，必须化妆，形象气质佳

        .section 发布人
        .publisher
            .avatar(src="")
            .name 张思
            .times 发布次数：3

        .devider
        .friends_view
            h2 
                .info 113
                | 她的演客熟人（来自手机通讯录）
            .item
                .num 88
                .name 普通会员
            .item
                .num 25
                .name 艺人会员

    a.footer(href="")
        .logo
        .site
            .name 演客
            .extra 艺人接单神器
        .download-link
            我要接单











