doctype
html(lang="en")
  head
    title 艺人空间
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1,user-scalable=no")
    meta(charset="utf-8")

    link(rel="stylesheet", href="css/normalize.css", type="text/css")
    link(rel="stylesheet", href="css/swipebox.min.css", type="text/css")
    link(rel="stylesheet", href="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", type="text/css")
    link(rel="stylesheet", href="css/main.css", type="text/css")

  body.app.nocallout
    .main.space
      .swipe-container
        .swiper-wrapper
          .swiper-slide
            a.swipebox(href="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
              img(style="background:#333 url('http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg') no-repeat 50% 0;background-size:cover")
          .swiper-slide
            a.swipebox(href="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
              img(style="background:#333 url('http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg') no-repeat 50% 0;background-size:cover")
          .swiper-slide
            a.swipebox(href="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
              img(style="background:#333 url('http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg') no-repeat 50% 0;background-size:cover")
          .swiper-slide
            a.swipebox(href="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
              img(style="background:#333 (url'http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg') no-repeat 50% 0;background-size:cover")



      .section.bordered
        .name-card
          .name 张丽
          .sex-female
          .location 北京
          .star
          .info 人气：376

      .section.bordered
        .category
          .title 专业
          .content
            .cate-list.main-cate
              .cate 流行歌手
              .cate 流行歌手
              .cate 流行歌手
            .cate-list.second-cate
              .cate 流行歌手
              .cate 流行歌手
              .cate 流行歌手

      .section
        .fee
          | 参考费用
          span.highlight 羊 300 ~ 6000

      .section.section-title
        .icon.spacevip
        .title 她的演客熟人（来自手机通讯录）
        .num 152

      .section
        .member-info
          .item
            .highlight 114
            .text 普通会员
          .item
            .highlight 114
            .text 艺人会员
          .item
            .highlight 114
            .text 共同熟人

      a.section.section-title(href="/")
        .icon.spaceexperience
        .title 获奖及主要演出经历
        .more

      ul.list-content
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.
        li 2014 年 12 月 CCTV 中国青年歌手大赛专业组冠军.

      a.section.section-title(href="/")
        .icon.spacevideo
        .title 视频
        .more

      .video-list
        a(href="")
          img(src="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
        a(href="")
          img(src="http://n.sinaimg.cn/news/transform/20160630/WDfZ-fxtsats1333494.jpg")
        a(href="")
          img(src="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
        a(href="")
          img(src="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")
        a(href="")
          img(src="http://k.sinaimg.cn/n/auto/20160620/AjJr-fxtfrrc3949028.jpg/w540h360t508f7.jpg")

      a.section.section-title(href="/")
        .icon.spaceprogram
        .title 主要节目及作品
        .more

      .section
        p
          span.program 大变活驴
          span.program 千手观音
          span.program 口呑大宝剑
          span.program 大变活驴
          span.program 千手观音
          span.program 口呑大宝剑
          span.program 大变活驴
          span.program 千手观音
          span.program 口呑大宝剑
          span.program 大变活驴
          span.program 千手观音
          span.program 口呑大宝剑

      a.section.section-title(href="/")
        .icon.spaceresume
        .title 简介
        .more

      .section
      p 在中国，我们听到了什么样的回答？现实是，恐怕我们什么也没有听到。我们只听到“回龙观名媛”的自嘲，听到“别让华为跑了”的恐惧的叫喊。如果连华为的年轻人都在深圳买不起一套住房，这个国家出了什么问题？只有资本的疯狂流动和聚集，只有权力的看上去的所所不能。一个抛弃了年轻人的国家，它想要往何处去


      .section.section-title
        .icon.spacedetail
        .title 详细资料

      table.list-table
        tr
          th 公司院团 
          td 北京爱乐文化传媒有限公司
        tr
          th 公司院团 
          td 北京爱乐文化传媒有限公司
        tr
          th 公司院团 
          td 北京爱乐文化传媒有限公司
        tr
          th 公司院团 
          td 北京爱乐文化传媒有限公司

    a.footer.open-modal(href="#")
      .inner
        .logo
        .slogen 移动端艺人资料 &middot; 新标准

    a.global-hint-modal(href="javascript:;")
      img.arrow(src="img/icon/bubble@2x.png")
    
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(src="js/jquery.swipebox.min.js")
    script.
      $(document).ready(function(){
        $('.swiper-wrapper').slick({
          autoplay: true,
          arrows: false,
          dots: true

        });
      });

      (function( $ ) {
        $( '.swipebox' ).swipebox();
      } )( jQuery );

      function isWeixin(){
          var ua = navigator.userAgent.toLowerCase();
          if(ua.match(/MicroMessenger/i)=="micromessenger"){ return true; } else{
          return false; 
        } 
      }

      var closeModal = document.querySelector('.global-hint-modal');
      if (closeModal) {
        closeModal.onclick = function() {
          var m = document.querySelector('.global-hint-modal');
          m.style.display = "none";
        };
      }

      var openModal = document.querySelector('.open-modal');
      if (openModal && isWeixin()) {
        openModal.onclick = function(e) {
          e.preventDefault();
          var modal = document.querySelector('.global-hint-modal');
          modal.style.display = "block";
          return false;
        }
      }



















